.arrow {
    display: flex;
    transition: transform 0.3s ease;
}

.learn-btn {
    color: #96BA7B;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: color 0.3s ease;
}

.learn-btn:hover {
    color: #96BA7B;
}

.learn-btn__arrow {
    display: flex;
    transition: transform 0.3s ease;
}

.learn-btn:hover .learn-btn__arrow {
    transform: translateX(5px);
}